body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px;
	line-height: 1.6;
}

h1 {
	color: #333;
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

#accountSelector {
	text-align: center;
	margin-bottom: 2rem;
}

#accountSelector select {
	font-size: 1rem;
	padding: 10px 20px;
	border-radius: 20px;
	border: 2px solid #ddd;
	outline: none;
	font-weight: bold;
	cursor: pointer;
}

#tweetForm {
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
	margin-bottom: 2rem;
}

#tweetForm input[type=text] {
	border: 2px solid #ddd;
	border-radius: 20px;
	padding: 15px;
	margin: 10px 0;
	width: calc(100% - 30px); /* Adjust width to account for padding */
	box-sizing: border-box;
}

#tweetForm button {
	background-color: #f0f0f0;
	color: #333;
	font-weight: bold;
	border: 2px solid #ddd;
	border-radius: 20px;
	padding: 15px 30px;
	cursor: pointer;
	transition: all 0.3s ease;
	outline: none;
}

#tweetForm button:hover {
	background-color: #e2e2e2;
}

#allTweets, #mentionedTweets {
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
	margin-bottom: 2rem;
}

.tweet {
	border-bottom: 1px solid #eee;
	padding: 10px 0;
	transition: background-color 0.3s ease;
}

.tweet-endorsed {
	background-color: #e7f5eb; /* Subtle green for endorsed tweets */
}

.tweet-not-endorsed {
	background-color: #fdf7f7; /* Subtle red/pinkish for not endorsed tweets */
}

.tweet p {
	margin: 0;
}

.tweet button {
	background-color: #f0f0f0;
	color: #555;
	border: none;
	border-radius: 15px;
	padding: 10px 20px;
	margin-right: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	outline: none;
}

.tweet button:hover {
	background-color: #e2e2e2;
}

.tweet button.ignore {
	background-color: #f0f0f0;
	color: #777;
}

.tweet button.ignore:hover {
	background-color: #e2e2e2;
}

@media (max-width: 768px) {
	#tweetForm {
			flex-direction: column;
			align-items: center;
	}

	#tweetForm input[type=text], 
	#tweetForm button {
			width: 100%;
			margin: 5px 0;
	}
}
